/* add global styles that can be loaded post LCP here */

/* ===== FADE-IN-UP ANIMATION ===== */
@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translate(0, 100%);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* Non-heading children start hidden */
main > .section.fade-in-up > div > *:not(h1, h2, h3, h4, h5, h6) {
  opacity: 0;
}

/* Animate non-heading children when section becomes visible */
main > .section.fade-in-up.visible > div > *:not(h1, h2, h3, h4, h5, h6) {
  animation: fade-in-up 0.8s both;
}

/* ===== FADE-IN-UP FOR BLOCKS WITH LIST ITEMS (cards) ===== */
main > .section.fade-in-up > div > .cards-awards-wrapper .cards-awards > ul > li {
  opacity: 0;
}

main > .section.fade-in-up.visible > div > .cards-awards-wrapper .cards-awards > ul > li {
  animation: fade-in-up 0.8s both;
}
